.statusLabel {
  border-radius: 8px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.needToReview {
  color: #561818;
  background-color: #fff3f3;
  font-size: 16px;
  font-style: normal;
  font: Lato;
}

.underReview {
  color: #1b1b1b;
  background-color: #d9d9d9;
  font-size: 16px;
  font-style: normal;
  font: Lato;
}

.reviewed {
  color: #02542d;
  background-color: #ebf9f1;
  font-size: 16px;
  font-style: normal;
  font: Lato;
}
