.directorBoxContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.startJourneyContainer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  margin: none;
}

.textContainer {
  width: 50%;
  padding: 6rem;
}

.applyButton {
  background-color: gray;
  border: none;
  padding: 2rem 5rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10rem 7rem;
  /* cursor: pointer; */
}
