.button {
  background-color: #ffb341;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
  width: 30%;
  margin: 0 2rem;
}

.label {
  /* figma styling numbers */
  font-size: 15px;
  font-weight: 400;
}

/* idk if this is a feauture */
.button:hover {
  background-color: #ffa500;
}
