.button {
  background-color: #ffb341;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
  width: 25%;
  margin: 0 3rem 3rem;
}

.label {
  font-size: 15px;
  font-weight: 400;
}

.button:hover {
  background-color: #ffbc58cc;
}
