.button {
  background-color: #ffb341;
  border-radius: 4px;
  padding: 12px 25px;
  border: none;
}

.label {
  font-family: var(--font-inter), Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.button:hover {
  background-color: #ffe8c5;
}
