.mainBox {
  position: relative;
  width: 38%;
  height: 100%;
  border-radius: 15px;

  opacity: 1;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  overflow: hidden;
}

.mainBox::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.7);

  border-radius: inherit;

  pointer-events: none;
}

.mainBox > * {
  position: relative;
  z-index: 1; /* keep text/button/image on top */
}

.imageSpace {
  width: 72px;
  height: 72px;
  margin: 3rem 3rem 0;
}

.title {
  /* the styling is from figma */
  font-size: 40px;
  font-weight: 590;
  margin: 1rem 3rem 2rem;
  color: white;
  /* needs font */
}

.body {
  /* the styling is from figma */
  font-size: 16px;
  margin: 1rem 3rem 2rem;
  color: white;
  /* needs font */
}
