.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 15px;
  background-color: #004377;
  width: 25%;
  height: 19rem;
  box-shadow: 0px 4px 4px 0px #00000040;

  transition:
    height 0.35s ease,
    transform 0.35s ease;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin-top: 3rem;

  transition: transform 0.35s ease;
}

.cardNumberCircle {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: white;
  margin: 0.5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.35s ease,
    background 0.35s ease;

  will-change: transform;
}

.iconWrapper {
  position: relative;
  width: 55%;
  height: 55%;
}

.cardTitle {
  color: white;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  margin: 0;

  transition: transform 0.35s ease;
}

.cardText {
  color: white;
  text-align: center;
  line-height: 150%;
  width: 80%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  transform: translateY(0rem);

  opacity: 0;
  transition:
    opacity 0.25s ease,
    transform 0.35s ease;
}

.cardContainer:hover {
  height: 22rem;
}

.cardContainer:hover .cardContent {
  width: 50%;
  transform: translateY(-1.2rem);
}

.cardContainer:hover .cardNumberCircle {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  background: #ffb341;

  transform: translateY(-1.5rem) scale(0.93);
}

.cardContainer:hover .cardTitle {
  transform: translateY(-1rem);
}

.cardContainer:hover .cardText {
  opacity: 1;
  transform: translateY(-2rem);
}

@media (max-width: 1340px) {
  .cardContainer {
    width: 30%;
    height: 17rem;
  }

  .cardContainer:hover {
    height: 20rem;
  }

  .cardTitle {
    font-size: 1.25rem;
  }

  .cardNumberCircle {
    width: 6rem;
    height: 6rem;
  }
  .cardContainer:hover .cardNumberCircle {
    width: 5.7rem;
    height: 5.7rem;
  }
  .cardText {
    font-size: 0.95rem;
  }
}

@media (max-width: 1240px) {
  .cardContainer {
    width: 30%;
    height: 17rem;
  }

  .cardContainer:hover {
    height: 20rem;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .cardText {
    font-size: 0.9rem;
  }
}

@media (max-width: 1100px) {
  .cardNumberCircle {
    margin: 0.1rem;
  }
  .cardNumberCircle:hover {
    transform: translateY(-0.5rem);
  }
  .cardContainer {
    width: 80%;
    height: 15rem;
  }

  .cardContainer:hover {
    height: 16rem;
  }

  .cardTitle {
    font-size: 1.3rem;
  }
  .cardText {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .cardContainer:hover {
    height: 17rem;
  }
  .cardText {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .cardTitle {
    font-size: 1.23rem;
  }

  .cardContainer:hover {
    height: 18rem;
  }
}
